{% extends 'base-front.html.twig' %}
{% block body %}
    <img src="{{ asset('front-office/images/reclamation-logo.png') }}">

    {% for reclamation in reclamations %}
<section>
        <div class="product-grid-list">
            <div class="row mt-30">
                <div class="col-sm-12 col-lg-4 col-md-6">
                    <!-- product card -->
                    <div class="product-item bg-light">
                        <div class="card">
                            <div class="thumb-content">
                                <!-- <div class="price">$200</div> -->
                                <a href="single.html">
                                    <img src="{{ asset('front-office/images/evologo.png') }}">
                                </a>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title"><a href="single.html">{{ reclamation.titre }}</a></h4>
                                <ul class="list-inline product-meta">
                                    <li class="list-inline-item">
                                        <a href="single.html"><i class="fa fa-folder-open-o"></i>{{ reclamation.categorieRec.nom }}</a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#"><i class="fa fa-calendar"></i>{{ reclamation.dateCreation ? reclamation.dateCreation|date('Y-m-d') : '' }}</a>
                                    </li>
                                </ul>
                                <p class="card-text"></p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="">
            <ul class="list-inline justify-content-center">
                <li class="list-inline-item">
                    <a  href="{{ path('reclamation_show', {'id': reclamation.id}) }}"class="btn btn-outline-primary btn-circle ">
                        <i class="fa fa-eye"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="{{ path('reclamation_edit', {'id': reclamation.id}) }}" class="btn btn-outline-secondary btn-circle ">
                        <i class="fa fa-edit"></i>
                    </a>
                </li>
            </ul>
        </div>


</section>

{% else %}
    <tr>
        <td colspan="6">no records found</td>
    </tr>
{% endfor %}

{% endblock %}
