{% extends 'base-back.html.twig' %}

{% block title %}CategorieRec index{% endblock %}

{% block body %}
    <h1>CategorieRec index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie_rec in categorie_recs %}
            <tr>
                <td>{{ categorie_rec.id }}</td>
                <td>{{ categorie_rec.nom }}</td>
                <td>{{ categorie_rec.description }}</td>
                <td>
                    <a href="{{ path('categorie_rec_show', {'id': categorie_rec.id}) }}">show</a>
                    <a href="{{ path('categorie_rec_edit', {'id': categorie_rec.id}) }}" class="btn btn-secondary btn-circle btn-group-lg">
                    <i class="fas fa-edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('categorie_rec_new') }} "class="btn btn-primary btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-product-hunt"></i>
                                        </span>
        <span class="text">Ajouter une nouvelle catégorie de réclamation</span></a>
{% endblock %}
